<div class="nav">
  <div class="nav_container">

    <button 
      mat-button
      color="primary"
      routerLink="/movies" 
      class="nav_title"
    >
      MyFlix
    </button>

    <div class="nav_buttons">

      <button 
        mat-button
        color="primary"
        routerLink="/profile" 
        class="profile"
      >
				Profile
			</button>
			
      <button
        mat-button
        color="primary"
        class="logout" 
        (click)="logoutUser()" 
        routerLink="/"
      >
        Logout
      </button>

    </div>
  </div>
</div>